{% extends "core/coreBase.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Notes deleting</h1>
    <h3>Are you sure?</h3>
    <p>You're about to delete <strong>{{ object }}</strong>. Please confirm.</p>
    <form action="" method="post">
        {% csrf_token %}
        <input class="btn btn-link"
               type="button" value="Cancel"
               onclick="window.history.go(-1);"/>
        <input class="btn btn-danger" type="submit" value="Confirm"/>
    </form>
{% endblock %}

{% block side_menu %}
    <li>
        <a href="{% url 'topics:topic-list' %}">Back to list</a>
    </li>
{% endblock %}