{% extends 'base.html' %}

{% block menu %}
<div class="col-6">
    <div class="row justify-content-center">
      <a class="badge badge-pill badge-dark" href="{% url 'notes:note-add' %}">Add Note</a>
    </div>
  </div>
  <div class="col-6">
    <div class="row justify-content-center">
      <a class="badge badge-pill badge-dark" href="{% url 'notes:note-list' %}">See Notes</a>
    </div>
</div>
{% endblock %}

{% block content %}
<ul>
{% for note in object_list %}
    <li><a href="{% url 'notes:note-detail' note.pk %}">{{ note.title }}</a></li>
{% empty %}
    <li>No notes yet.</li>
{% endfor %}
</ul>
{% endblock %}