{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block menu %}
<div class="col-6">
    <div class="row justify-content-center">
      <a class="badge badge-pill badge-dark" href="{% url 'notes:note-add' %}">Add Note</a>
    </div>
  </div>
  <div class="col-6">
    <div class="row justify-content-center">
      <a class="badge badge-pill badge-dark" href="{% url 'notes:note-list' %}">See Notes</a>
    </div>
</div>
{% endblock %}

{% block content %}
  <form action="." method="POST">
    {% csrf_token %}
    {{ form.topic }}
    {{ form.title|as_crispy_field }}
    {{ form.body|as_crispy_field }}
    <button type="submit" class="btn btn-success">Save note</button>
  </form>
{% endblock %}
